<div class="container">
    <div class="row">
        <div class="col">
            <h1>

                <i class="fa-solid fa-pen"></i> &nbsp;
                Edit Contact Page

            </h1>

            <p style="text-align: justify;">
                This is dummy data ; Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, recusandae quam?
                Magnam cupiditate ducimus qui commodi obcaecati! Odit, placeat perspiciatis, iste porro odio iusto fuga
                molestiae voluptate, saepe non sequi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                eaque omnis quas, reprehenderit tempora at voluptatem. Atque doloribus soluta, illo quidem debitis
                voluptatem veniam at facere voluptate maiores exercitationem hic. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vel expedita minima nam voluptatibus nisi voluptas illo accusantium harum omnis
                commodi eius repellat, quod vero? Sapiente quidem qui architecto quae ut!
            </p>
        </div>
    </div>
    <!-- <pre>
        {{groups | json}}
    </pre> -->

   
    <!-- add contact form --> 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input name="cName" [(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cPhoto" [(ngModel)]="contact.photo" placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cemail" [(ngModel)]="contact.email" placeholder="Email Id" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="cmobile" [(ngModel)]="contact.mobile" placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="ccompany" [(ngModel)]="contact.company" placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="ctitle" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option value="group.id" *ngFor="let group of groups">{{group.name}}</option>
                            


                        </select>
                        <div class="mb-2">
                            <input value="Update" (click)="updateContact()" type="text" class="btn btn-success">
                            <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <!-- "https://tse4.mm.bing.net/th?id=OIP.DZBR8v34QYwu2uVA0_kimgHaKs&pid=Api&P=0" -->
                <img [src]="contact.photo" alt="no image" class="contact_image mt-2">

            </div>
        </div>
    </div>
</div>